<div class="row">
  <div class="small-6 large-3 large-offset-3 columns">
    <img src="http://placehold.it/150x150">
  </div>
  <div class="small-6 large-6 columns">
    <h1>Hunny Do</h1>
  </div>
</div>
<div class="row">
  <div class="large-8 large-offset-2">
    <div class="row collapse">
      <div class="small-9 columns">
        <input type="text" placeholder="Dump the trash">
      </div>
      <div class="small-3 columns">
        <a href="#" class="postfix button radius">Add</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 large-offset-2">
    <table>
      <tbody>
        <% @todo.each do |t| %>
        <tr>
          <td><a href="#" class="round button success">Done</a></td>
          <td width="600"><%= t.task %></td>
          <td><a href="#" class="round button alert">Remove</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="large-3 large-offset-7">
    <a href="#" class="button small expand radius">clear completed items</a>
  </div>
</div>